<?xml version="1.0" encoding="utf-8"?>
<phpunit
    colors="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    cacheDirectory="/tmp"
    >

    <testsuites>
        <testsuite name="unit">
            <directory phpVersion="8.2.0" phpVersionOperator=">=">
                tests
            </directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
            <file>src/bin/kiss</file>
        </include>
    </source>

    <!-- <coverage
        includeUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="false"
        disableCodeCoverageIgnore="false">
        <report>
            <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage> -->

</phpunit>
